<section class="section">
  <h2 class="about-title visually-hidden">About me</h2>
  <div class="container about-container">
    <div class="about-text-container">
      <p class="about-text">
        I work with people all over the world to create impressive and
        <span class="red-color">functional</span>
        <span class="gray-color">websites</span> that reflect each client's
        unique personality.
      </p>
      <picture class="thumb">
        <source
          srcset="
            ./img/about/about-desctop.png    1x,
            ./img/about/about-desctop@2x.png 2x
          "
          media="(min-width:1440px)"
        />
        <source
          srcset="
            ./img/about/main_image_tablet.png    1x,
            ./img/about/main_image_tablet@2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./img/about/main_image_mobile.png    1x,
            ./img/about/main_image_mobile@2x.png 2x
          "
          media="(max-width:767px)"
        />
        <img
          src="./img/about/main_image_desctop.png"
          alt="main_image_desctop"
        />
      </picture>
    </div>
    <ul class="about-list">
      <li class="list-item-about">
        <h3 class="list-header-about">
          ABOUT ME
          <button class="button-up" type="button">
            <svg class="arrow-accordeon" width="20" height="20">
              <use href="./svg/icons.svg#icon-arrow-down" />
            </svg>
          </button>
          <button class="button-down visually-hidden" type="button">
            <svg class="arrow-accordeon" width="20" height="20">
              <use href="./svg/icons.svg#icon-arrow-down" />
            </svg>
          </button>
        </h3>
        <ul class="about-item-text">
          <li class="about-option">
            <p>
              I am Lloyd Jefferson, a talented programmer with extensive
              expertise in software development. I have an understanding of
              different programming languages and technologies, always ready to
              improve my skills. I always follow the latest trends and look for
              unconventional, creative solutions to problems. I have a high
              level of analytical skills and am able to effectively solve even
              the most difficult tasks encountered on the way.
            </p>
          </li>
          <li class="about-option">
            <p>
              Able to work both independently and in a team. I can effectively
              cooperate with colleagues, exchanging ideas and finding optimal
              solutions. Professional maturity allows you to calmly cope with
              challenges and stressful situations, while maintaining a high
              quality of work. I am always looking for opportunities for
              self-improvement. I actively study new technologies and practices
              to stay abreast of the latest innovations. I have a strong
              understanding of various programming languages, frameworks and
              architectural concepts that allow me to create efficient and
              scalable software.
            </p>
          </li>
        </ul>
      </li>
      <li class="list-item-about about-role">
        <h3 class="list-header-about">
          <span>ROLE</span>
          <button class="button-up" type="button">
            <svg class="arrow-accordeon" width="20" height="20">
              <use href="./svg/icons.svg#icon-arrow-down" />
            </svg>
          </button>
          <button class="button-down visually-hidden" type="button">
            <svg class="arrow-accordeon" width="20" height="20">
              <use href="./svg/icons.svg#icon-arrow-down" />
            </svg>
          </button>
        </h3>
        <ul class="about-item-text">
          <li class="about-option"><p>Frontend development</p></li>
          <li class="about-option"><p>HeadlessCMS,Wordpress</p></li>
          <li class="about-option"><p>Blender(enjoy)</p></li>
        </ul>
      </li>
      <li class="list-item-about about-education">
        <h3 class="list-header-about">
          <span>EDUCATION</span>
          <button class="button-up" type="button">
            <svg class="arrow-accordeon" width="20" height="20">
              <use href="./svg/icons.svg#icon-arrow-down" />
            </svg>
          </button>
          <button class="button-down visually-hidden" type="button">
            <svg class="arrow-accordeon" width="20" height="20">
              <use href="./svg/icons.svg#icon-arrow-down" />
            </svg>
          </button>
        </h3>
        <ul class="about-item-text">
          <li class="about-option">
            <p>
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </p>
          </li>
          <li class="about-option">
            <p>
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT School
            </p>
          </li>
          <li class="about-option">
            <p>
              New York 2020 - 2022 / Advanced Blender Animation Techniques,
              Udemy
            </p>
          </li>
        </ul>
      </li>
    </ul>

    <div class="swiper-skills">
      <ul class="swiper-wrapper">
        <li class="swiper-slide"><p class="swiper-text">HTML/CSS</p></li>
        <li class="swiper-slide">
          <p class="swiper-text">JavaScript</p>
        </li>
        <li class="swiper-slide">
          <p class="swiper-text">React</p>
        </li>
        <li class="swiper-slide">
          <p class="swiper-text">Node.js</p>
        </li>
        <li class="swiper-slide">
          <p class="swiper-text">React Native</p>
        </li>
        <li class="swiper-slide">
          <p class="swiper-text">Soft skills</p>
        </li>
      </ul>
      <button class="btn-right" type="button" disabled>
        <svg class="icon-btn-right" width="40" height="40">
          <use href="./svg/icons.svg#arrowtotheright" />
        </svg>
      </button>
    </div>
      <div class="swiper-pagination"></div>
    </div>
    <!-- <div class="swiper-skills">
      <ul class="swiper-list">
        <li class="swiper-item"><p class="swiper-text">HTML/CSS</p></li>
        <li class="swiper-item">
          <p class="swiper-text">JavaScript</p>
        </li>
        <li class="swiper-item">
          <p class="swiper-text">React</p>
        </li>
        <li class="swiper-item">
          <p class="swiper-text">Node.js</p>
        </li>
        <li class="swiper-item">
          <p class="swiper-text">React Native</p>
        </li>
        <li class="swiper-item">
          <p class="swiper-text">Soft skills</p>
        </li>
      </ul>
      <button class="swiper-btn-right" type="button" disabled>
        <svg class="icon-btn-right" width="40" height="40">
          <use href="./svg/icons.svg#arrowtotheright" />
        </svg>
      </button>
    </div> -->
    <!-- <div class="about-skills">
      <ul class="skills-list">
        <li class="skills-item"><p class="skills-text">HTML/CSS</p></li>
        <li class="skills-item">
          <p class="skills-text">JavaScript</p>
        </li>
        <li class="skills-item">
          <p class="skills-text">React</p>
        </li>
        <li class="skills-item">
          <p class="skills-text">Node.js</p>
        </li>
        <li class="skills-item">
          <p class="skills-text">React Native</p>
        </li>
        <li class="skills-item">
          <p class="skills-text">Soft skills</p>
        </li>
      </ul>
      <button class="btn-right" type="button" disabled>
        <svg class="icon-btn-right" width="40" height="40">
          <use href="./svg/icons.svg#arrowtotheright" />
        </svg>
      </button>
    </div> -->
  </div>
</section>
