
    <section class="benefitsSection">
      <div class="benefitsDiv">
        <h2 class="benefitsh3">Benefits of working with me</h2>
        <ul class="benefitsUl">
          <li class="benefitsLi">
            <div class="iconContainer">
              <svg width="24" height="24" class="benefitsSvg">
                <use href="./svg/icons.svg#user"></use>
              </svg>
            </div>
            <h3 class="benefitsH4">Expertise</h3>
            <p class="benefitsP">
              As a highly experienced developer, I have deep knowledge of
              programming and website development.
            </p>
          </li>
          <li class="benefitsLi">
            <div class="iconContainer">
              <svg width="24" height="24" class="benefitsSvg">
                <use id="massages" href="./svg/icons.svg#masegges"></use>
              </svg>
            </div>
            <h3 class="benefitsH4">Communication</h3>
            <p class="benefitsP">
              Understanding your needs and wants is my priority and I am always
              open to discussions and corrections.
            </p>
          </li>
          <li class="benefitsLi">
            <div class="iconContainer">
              <svg width="24" height="24" class="benefitsSvg">
                <use href="./svg/icons.svg#brush"></use>
              </svg>
            </div>

            <h3 class="benefitsH4">Art</h3>
            <p class="benefitsP">
              Thanks to my creative nature, I am ready to accept challenges and
              help you bring your ideas to life.
            </p>
          </li>
          <li class="benefitsLi">
            <div class="iconContainer">
              <svg width="24" height="24" class="benefitsSvg">
                <use href="./svg/icons.svg#hourglass"></use>
              </svg>
            </div>

            <h3 class="benefitsH4">Urgent execution</h3>
            <p class="benefitsP">
              I understand how important time is to you. Ready to work quickly
              and efficiently, without reducing the quality of work.
            </p>
          </li>
        </ul>
        <!--Необхідно правильно вказати href-->
        </div>
        <div class="divForButton">
          <button class="benefitsButton">
        <a href="#workTogether" class="benefitsA">Order the project</a>
      </button>
        </div>
      </div>
      
    </section>

