<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="stylesheet" href="./css/benefits.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Macondo&family=Raleway:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,100;0,400;0,700;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="benefitsSection">
      <div class="benefitsDiv">
        <h3 class="benefitsh3">BENEFITS OF WORKING WITH ME</h3>
        <ul class="benefitsUl">
          <li class="benefitsLi">
            <div class="iconContainer">
              <svg width="24" height="24" class="benefitsSvg">
                <use href="./svg/icons.svg#user"></use>
              </svg>
            </div>
            <h4 class="benefitsH4">Expertise</h4>
            <p class="benefitsP">
              As a highly experienced developer, I have deep knowledge of
              programming and website development.
            </p>
          </li>
          <li class="benefitsLi">
            <div class="iconContainer">
              <svg width="24" height="24" class="benefitsSvg">
                <use id="massages" href="./svg/icons.svg#masegges"></use>
              </svg>
            </div>
            <h4 class="benefitsH4">Communication</h4>
            <p class="benefitsP">
              Understanding your needs and wants is my priority and I am always
              open to discussions and corrections.
            </p>
          </li>
          <li class="benefitsLi">
            <div class="iconContainer">
              <svg width="24" height="24" class="benefitsSvg">
                <use href="./svg/icons.svg#brush"></use>
              </svg>
            </div>

            <h4 class="benefitsH4">Art</h4>
            <p class="benefitsP">
              Thanks to my creative nature, I am ready to accept challenges and
              help you bring your ideas to life.
            </p>
          </li>
          <li class="benefitsLi">
            <div class="iconContainer">
              <svg width="24" height="24" class="benefitsSvg">
                <use href="./svg/icons.svg#hourglass"></use>
              </svg>
            </div>

            <h4 class="benefitsH4">Urgent execution</h4>
            <p class="benefitsP">
              I understand how important time is to you. Ready to work quickly
              and efficiently, without reducing the quality of work.
            </p>
          </li>
        </ul>
        <!--Необхідно правильно вказати href-->
        </div>
        <div class="divForButton">
          <button class="benefitsButton">
        <a href="#workTogether" class="benefitsA">Order the project</a>
      </button>
        </div>
      </div>
      
    </section>
  </body>
</html>
