<section class="covers section" id="animation">
  <h2 class="visually-hidden">Covers</h2>
  <div class="covers-box">
    <div class="marquee">
      <ul class="marquee__inner">
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/revieving.png    1x,
              ./img/under-faq/revieving@2x.png 2x
            "
            src="./img/under-faq/revieving.png"
            alt="reviewing traditional artistry"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/transform_your_body.png    1x,
              ./img/under-faq/transform_your_body@2x.png 2x
            "
            src="./img/under-faq/transform_your_body.png"
            alt="transform your body"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/welcome_to.png    1x,
              ./img/under-faq/welcome_to@2x.png 2x
            "
            src="./img/under-faq/welcome_to.png"
            alt="Collection of premium watches"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/a_brand.jpeg   1x,
              ./img/under-faq/a_brand@2x.png 2x
            "
            src="./img/under-faq/a_brand.jpeg "
            alt="a brand"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/discover.png    1x,
              ./img/under-faq/discover@2x.png 2x
            "
            src="./img/under-faq/discover.png"
            alt="discover"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/fresh.png    1x,
              ./img/under-faq/fresh@2x.png 2x
            "
            src="./img/under-faq/fresh.png"
            alt="fresh"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/get_body.png    1x,
              ./img/under-faq/get_body@2x.png 2x
            "
            src="./img/under-faq/get_body.png"
            alt="get body in shape"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/menege_your_finanse.png    1x,
              ./img/under-faq/menege_your_finanse@2x.png 2x
            "
            src="./img/under-faq/menege_your_finanse.png"
            alt="manage your finance"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/mimino.png    1x,
              ./img/under-faq/mimino@2x.png 2x
            "
            src="./img/under-faq/mimino.png"
            alt="mimino"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/organic.png    1x,
              ./img/under-faq/organic@2x.png 2x
            "
            src="./img/under-faq/organic.png"
            alt="organic"
          />
        </li>
      </ul>
      <ul class="marquee__inner">
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/a_brand.jpeg   1x,
              ./img/under-faq/a_brand@2x.png 2x
            "
            src="./img/under-faq/a_brand.jpeg"
            alt="a brand"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/discover.png    1x,
              ./img/under-faq/discover@2x.png 2x
            "
            src="./img/under-faq/discover.png"
            alt="discover"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/fresh.png    1x,
              ./img/under-faq/fresh@2x.png 2x
            "
            src="./img/under-faq/fresh.png"
            alt="fresh"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/get_body.png    1x,
              ./img/under-faq/get_body@2x.png 2x
            "
            src="./img/under-faq/get_body.png"
            alt="get body in shape"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/menege_your_finanse.png    1x,
              ./img/under-faq/menege_your_finanse@2x.png 2x
            "
            src="./img/under-faq/menege_your_finanse.png"
            alt="manage your finance"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/mimino.png    1x,
              ./img/under-faq/mimino@2x.png 2x
            "
            src="./img/under-faq/mimino.png"
            alt="mimino"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/organic.png    1x,
              ./img/under-faq/organic@2x.png 2x
            "
            src="./img/under-faq/organic.png"
            alt="organic"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/revieving.png    1x,
              ./img/under-faq/revieving@2x.png 2x
            "
            src="./img/under-faq/revieving.png"
            alt="reviewing traditional artistry"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/transform_your_body.png    1x,
              ./img/under-faq/transform_your_body@2x.png 2x
            "
            src="./img/under-faq/transform_your_body.png"
            alt="transform your body"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/welcome_to.png    1x,
              ./img/under-faq/welcome_to@2x.png 2x
            "
            src="./img/under-faq/welcome_to.png"
            alt="Collection of premium watches"
          />
        </li>
      </ul>
      <ul class="marquee__inner">
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/get_body.png    1x,
              ./img/under-faq/get_body@2x.png 2x
            "
            src="./img/under-faq/get_body.png"
            alt="get body in shape"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/menege_your_finanse.png    1x,
              ./img/under-faq/menege_your_finanse@2x.png 2x
            "
            src="./img/under-faq/menege_your_finanse.png"
            alt="manage your finance"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/mimino.png    1x,
              ./img/under-faq/mimino@2x.png 2x
            "
            src="./img/under-faq/mimino.png"
            alt="mimino"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/organic.png    1x,
              ./img/under-faq/organic@2x.png 2x
            "
            src="./img/under-faq/organic.png"
            alt="organic"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/revieving.png    1x,
              ./img/under-faq/revieving@2x.png 2x
            "
            src="./img/under-faq/revieving.png"
            alt="reviewing traditional artistry"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/transform_your_body.png    1x,
              ./img/under-faq/transform_your_body@2x.png 2x
            "
            src="./img/under-faq/transform_your_body.png"
            alt="transform your body"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/welcome_to.png    1x,
              ./img/under-faq/welcome_to@2x.png 2x
            "
            src="./img/under-faq/welcome_to.png"
            alt="Collection of premium watches"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/a_brand.jpeg   1x,
              ./img/under-faq/a_brand@2x.png 2x
            "
            src="./img/under-faq/a_brand.jpeg "
            alt="a brand"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/discover.png    1x,
              ./img/under-faq/discover@2x.png 2x
            "
            src="./img/under-faq/discover.png"
            alt="discover"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/fresh.png    1x,
              ./img/under-faq/fresh@2x.png 2x
            "
            src="./img/under-faq/fresh.png"
            alt="fresh"
          />
        </li>
      </ul>
      <ul class="marquee__inner">
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/revieving.png    1x,
              ./img/under-faq/revieving@2x.png 2x
            "
            src="./img/under-faq/revieving.png"
            alt="reviewing traditional artistry"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/transform_your_body.png    1x,
              ./img/under-faq/transform_your_body@2x.png 2x
            "
            src="./img/under-faq/transform_your_body.png"
            alt="transform your body"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/welcome_to.png    1x,
              ./img/under-faq/welcome_to@2x.png 2x
            "
            src="./img/under-faq/welcome_to.png"
            alt="Collection of premium watches"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/a_brand.jpeg   1x,
              ./img/under-faq/a_brand@2x.png 2x
            "
            src="./img/under-faq/a_brand.jpeg "
            alt="a brand"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/discover.png    1x,
              ./img/under-faq/discover@2x.png 2x
            "
            src="./img/under-faq/discover.png"
            alt="discover"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/fresh.png    1x,
              ./img/under-faq/fresh@2x.png 2x
            "
            src="./img/under-faq/fresh.png"
            alt="fresh"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/get_body.png    1x,
              ./img/under-faq/get_body@2x.png 2x
            "
            src="./img/under-faq/get_body.png"
            alt="get body in shape"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/menege_your_finanse.png    1x,
              ./img/under-faq/menege_your_finanse@2x.png 2x
            "
            src="./img/under-faq/menege_your_finanse.png"
            alt="manage your finance"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/mimino.png    1x,
              ./img/under-faq/mimino@2x.png 2x
            "
            src="./img/under-faq/mimino.png"
            alt="mimino"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/organic.png    1x,
              ./img/under-faq/organic@2x.png 2x
            "
            src="./img/under-faq/organic.png"
            alt="organic"
          />
        </li>
      </ul>
      <ul class="marquee__inner">
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/a_brand.jpeg   1x,
              ./img/under-faq/a_brand@2x.png 2x
            "
            src="./img/under-faq/a_brand.jpeg"
            alt="a brand"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/discover.png    1x,
              ./img/under-faq/discover@2x.png 2x
            "
            src="./img/under-faq/discover.png"
            alt="discover"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/fresh.png    1x,
              ./img/under-faq/fresh@2x.png 2x
            "
            src="./img/under-faq/fresh.png"
            alt="fresh"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/get_body.png    1x,
              ./img/under-faq/get_body@2x.png 2x
            "
            src="./img/under-faq/get_body.png"
            alt="get body in shape"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/menege_your_finanse.png    1x,
              ./img/under-faq/menege_your_finanse@2x.png 2x
            "
            src="./img/under-faq/menege_your_finanse.png"
            alt="manage your finance"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/mimino.png    1x,
              ./img/under-faq/mimino@2x.png 2x
            "
            src="./img/under-faq/mimino.png"
            alt="mimino"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/organic.png    1x,
              ./img/under-faq/organic@2x.png 2x
            "
            src="./img/under-faq/organic.png"
            alt="organic"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/revieving.png    1x,
              ./img/under-faq/revieving@2x.png 2x
            "
            src="./img/under-faq/revieving.png"
            alt="reviewing traditional artistry"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/transform_your_body.png    1x,
              ./img/under-faq/transform_your_body@2x.png 2x
            "
            src="./img/under-faq/transform_your_body.png"
            alt="transform your body"
          />
        </li>
        <li class="marquee-line">
          <img
            loading="lazy"
            srcset="
              ./img/under-faq/welcome_to.png    1x,
              ./img/under-faq/welcome_to@2x.png 2x
            "
            src="./img/under-faq/welcome_to.png"
            alt="Collection of premium watches"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
