
<header class="page-header">
<div class="container header-navigation">
    <nav class="logo-navigation">
    
        <a href="./index.html" class="logo"> 
            <img srcset="./img/img_tablet/image.png, ./img/img_tablet/image2x.png" 
            alt="main image" 
            width="80" 
            height="80" />jefferson*
        </a>
        <ul class="navbar-menu">
            <li class="menu"><a href="#">Menu</a></li>
        </ul>
        <button class="button" type="button">Order the project</button>

        </button>
        </nav>
    
</div>
</header>

