<section class="first-section hero">
  <div class="container hero-navigation">
    <h1 class="main-content">
      hello.<br />
      I'm fullstack developer Lloyd Jefferson.
    </h1>

    <div class="social-media-container">
      <ul class="social-links">
        <li class="social-media-list">
          <a href="https://www.instagram.com/goitclub/" target="_blank">IG</a>
        </li>
        <li class="social-media-list">
          <a href="https://www.facebook.com/goITclub/" target="_blank">FB</a>
        </li>
        <li class="social-media-list">
          <a href="https://www.youtube.com/c/GoIT" target="_blank">YT</a>
        </li>
        <li class="social-media-list">
          <a
            href="https://iryna1511.github.io/project-group-14/"
            target="_blank"
            >GH</a
          >
        </li>
      </ul>
      <a href="lloydjefferson@gmail.com" class="email-link"
        >lloydjefferson@gmail.com</a
      >
    </div>
  </div>
</section>
