<section class="first-section hero">
   <div class="container hero-navigation">
        <h1 class="main-content">HELLO.<br/>
             I’M  FULLSTACK DEVELOPER LLOYD JEFFERSON.</h1>
    
    <div class="social-media-container"> 
    <ul class="social-links">
        <li class="social-media-list"><a href="https://www.instagram.com/goitclub/">IG</a></li>
        <li class="social-media-list"><a href="https://www.facebook.com/goITclub/">FB</a></li>
        <li class="social-media-list"><a href="https://www.youtube.com/c/GoIT">YT</a></li>
        <li class="social-media-list"><a href="#">GH</a></li>
    </ul>
    <a href="mailto:your@email.com" class="email-link">lloydjefferson@gmail.com</a>
    </div>
    </div>
    </section>
