<div class="mobile-menu-wrapper is-open">
  <div class="container mobile-menu-container">
    <button class="mobile-menu-close-btn" type="button">
      <svg
        class="modal-close-button-icon"
        width="28"
        height="28"
        aria-label="close mobile icon"
      >
        <use href="./img/svg/symbol-defs.svg#icon-cross"></use>
      </svg>
    </button>
    <ul class="mobile-menu">
      <li class="mobile-menu-item">
        <a class="mobile-menu-link link menu-studio" href="#about-me"
          >About me</a
        >
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link link" href="#benefits">Benefits</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link link" href="#projects">Projects</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link link" href="#faq">FAQ</a>
      </li>
      <a class="header-link-mobile" href="#work-together">Order the project</a>
    </ul>
  </div>
</div>
