<section class="section" id="projects">
  <div class="container">
    <h3 class="name-section">Projects</h3>
    <div class="swiper-box">
      <ul class="swiper-wrapper">
        <li class="desctop swiper-slide">
          <div class="white-part">
            <ul class="prog-list">
              <li class="prog-name-react">
                <p class="prog-name">#react</p>
              </li>
              <li class="prog-name-js">
                <p class="prog-name">#js</p>
              </li>
              <li class="prog-name-node">
                <p class="prog-name">#node js</p>
              </li>
              <li class="prog-name-git">
                <p class="prog-name">#git</p>
              </li>
            </ul>
            <p class="prog-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <button type="button" class="btn">
              <a
                href="https://iryna1511.github.io/project-group-14/"
                target="_blank"
                >See project</a
              >
            </button>
          </div>

          <picture class="img-slide">
            <source
              srcset="
                ./img/projects/expand_your_mind.png    1x,
                ./img/projects/expand_your_mind@2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/projects/expand_your_mind.png    1x,
                ./img/projects/expand_your_mind@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/projects/expand_your_mind.png    1x,
                ./img/projects/expand_your_mind@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/projects/expand_your_mind.png"
              alt="expand_your_mind"
            />
          </picture>
        </li>
        <li class="swiper-slide desctop">
          <div class="white-part">
            <ul class="prog-list">
              <li class="prog-name-react">
                <p class="prog-name">#react</p>
              </li>
              <li class="prog-name-js">
                <p class="prog-name">#js</p>
              </li>
              <li class="prog-name-node">
                <p class="prog-name">#node js</p>
              </li>
              <li class="prog-name-git">
                <p class="prog-name">#git</p>
              </li>
            </ul>
            <p class="prog-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <button type="button" class="btn">
              <a
                href="https://iryna1511.github.io/project-group-14/"
                target="_blank"
                >See project</a
              >
            </button>
          </div>
          <picture class="img-slide">
            <source
              srcset="
                ./img/projects/pet_love.png    1x,
                ./img/projects/pet_love@2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/projects/pet_love.png    1x,
                ./img/projects/pet_love@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/projects/pet_love.png    1x,
                ./img/projects/pet_love@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img src="./img/projects/pet_love.png" alt="pet_love" />
          </picture>
        </li>
        <li class="desctop swiper-slide">
          <div class="white-part">
            <ul class="prog-list">
              <li class="prog-name-react">
                <p class="prog-name">#react</p>
              </li>
              <li class="prog-name-js">
                <p class="prog-name">#js</p>
              </li>
              <li class="prog-name-node">
                <p class="prog-name">#node js</p>
              </li>
              <li class="prog-name-git">
                <p class="prog-name">#git</p>
              </li>
            </ul>
            <p class="prog-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <button type="button" class="btn">
              <a
                href="https://iryna1511.github.io/project-group-14/"
                target="_blank"
                >See project</a
              >
            </button>
          </div>
          <picture class="img-slide">
            <source
              srcset="
                ./img/projects/register.png    1x,
                ./img/projects/register@2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/projects/register.png    1x,
                ./img/projects/register@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/projects/register.png    1x,
                ./img/projects/register@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img src="./img/projects/register.png" alt="register" />
          </picture>
        </li>
      </ul>

      <div class="swiper-pagination"></div>
    </div>
    <div class="swiper-btn">
      <button class="btn-prev" type="button">
        <svg class="arrow-swiper" width="24" height="24">
          <use href="./svg/icons.svg#arrowtotheleft" />
        </svg>
      </button>
      <button class="btn-next" type="button">
        <svg class="arrow-swiper" width="24" height="24">
          <use href="./svg/icons.svg#arrowtotheright" />
        </svg>
      </button>
    </div>
  </div>
</section>
