.about-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.about-text {
  font-size: 24px;
  line-height: 1.05;
  letter-spacing: -0.03em;
  text-align: left;
  text-transform: uppercase;
  padding: 32px 32px 272px 32px;

  border-radius: 24px;
  background: rgb(36, 37, 39);
}
.red-color {
  color: rgb(237, 59, 68);
}
.gray-color {
  color: rgba(250, 250, 250, 0.4);
}

.thumb {
  border-radius: 24px;
  flex-shrink: 0;
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 32px 0px;
}
.list-item-about {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.list-header-about {
  display: flex;
  justify-content: space-between;
  color: rgba(250, 250, 250, 0.4);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
.about-item-text {
  text-align: left;
  margin-top: 8px;
  margin-bottom: 32px;
}
.about-option:not(:last-child) {
  margin-bottom: 10px;
}

.button-up.ac-trigger {
  border: solid 1px rgba(250, 250, 250, 0.2);
  padding: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.arrow-accordeon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-skills {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}
.swiper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.swiper-wrapper li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 130px;
  height: 130px;
  margin-left: 0px;
  margin-top: 0px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid rgba(250, 250, 250, 0.2);
}
.swiper-slide:first-child {
  background-color: rgb(237, 59, 68);
}
.swiper-slide:hover {
  background-color: rgb(237, 59, 68);
}
.btn-right {
  opacity: 0.4;
}

@media screen and (min-width: 768px) {
  .about-text {
    padding: 64px 64px 404px 64px;
    font-size: 38px;
  }
  .swiper-slide {
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width: 1440px) {
  .about-text-container {
    flex-direction: row;
  }
  .about-item-text {
    margin-left: 50%;
  }
}

/* .swiper-button-lock {
  display: block;
} */

/* Стилі для акордеону */
.ac-trigger {
  transition: color 0.25s ease;
  /* position: relative; */
  /* text-decoration: none; */
  /* margin: 0;
  border: 0; */

  &::after {
    content: '';
    transform: translate(0, -50%);
  }
}
.ac-panel {
  overflow: hidden;
  /* transition-property: height, visibility; */
  transition-timing-function: ease;
}
&.is-active {
  .ac-panel {
    visibility: visible;
  }

  /* & > .ac-header .ac-trigger {
    &::after {
      content: '';
    }
  } */
}
