.about-text-container {
  display: flex;
  flex-direction: column;
}
.about-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -3%;
  text-align: left;
  text-transform: uppercase;
  padding: 32px;
  display: flex;
  justify-content: center;
  border-radius: 24px;
  background: rgb(36, 37, 39);
  width: 343px;
  height: 500px;
  flex-grow: 0;
  margin-bottom: 16px;
  display: block;
  max-width: 343px;
}
.red-color {
  color: rgb(237, 59, 68);
}
.gray-color {
  color: rgba(250, 250, 250, 0.4);
}

.thumb {
  display: block;
  border-radius: 24px;
  max-width: 343px;
}

.about-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 32px 0px;
}

.list-header-about {
  color: rgba(250, 250, 250, 0.4);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -2%;
  text-align: left;
  text-transform: uppercase;
}
.about-item-text {
  color: rgb(250, 250, 250);
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -2%;
  text-align: left;
}

.skills-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.skills-item {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  margin-left: 0px;
  margin-top: 0px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid rgba(250, 250, 250, 0.2);
}
.skills-item:first-child {
  background-color: rgb(237, 59, 68);
}
.skills-item:hover,
:focus {
  background-color: rgb(237, 59, 68);
}

@media screen and (min-width: 768px) {
  .about-text {
    align-items: center;
    text-align: center;
  }
  .about-text-container {
    max-width: 704px;
  }
  .thumb {
    max-width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .about-text-container {
    flex-direction: row;
    gap: 32px;
  }
  .about-text {
    max-width: 680px;
  }
  .thumb {
    max-width: 680px;
  }
}
