button {
  cursor: pointer;
  border: none;
  appearance: none;
  background-color: transparent;
  color: inherit;
}

.swiper-hero {
  overflow: clip;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
}

.lock {
  overflow: hidden;
}

.dark {
  color: rgba(250, 250, 250, 0.6);
  background-color: #1c1d20;
}

.light {
  color: var(--hard-black-color);
  background-color: var(--white-color);
}

.scroll-to-up {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
  position: fixed;
  bottom: 150px;
  right: 10px;
  z-index: 2000;
}

body.light .scroll-to-up {
  color: #7b7777;
}

.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.animate-scroll {
  animation-name: scaleScroll;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes scaleScroll {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.screen-blocked {
  overflow: hidden;
}
