/*
@media (min-width:320px){
    .page-header{
        background-color: transparent;
            position: absolute;
            padding: 32px 16px;
    }
    .logo-navigation {
        width: 100%;
        max-width: 343px;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    
    }
    .logo-navigation .logo {
        display: flex;
        align-items: flex-start;
    
    }
    .logo-navigation .logo img {
        margin-right: 8px;
    }
   
    .button{
        display: none;
    }
    .mobile-menu-open-btn {
        width: 28px;
        height: 28px;
        border: none;
        cursor: pointer;
        padding: 0;
        line-height: 0;
    }
    


}
*/


@media (min-width: 768px){
    .header-navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 32px;
    }
.page-header {
        background-color: transparent;
        position: absolute;
          
}

    .logo-navigation {
            width: 100%;
            max-width: 704px;
            height: 80px;
            display: flex;
            justify-content: space-between;
            display: flex;
            align-items: flex-start;
            
        }

    .logo-navigation .logo {
            display: flex;
            align-items: flex-start;
           
        }

    .logo-navigation .logo img {
            margin-right: 8px;
        }
 
    .button{
        background-color: #ed3b44;
        border-radius: 60px;
        gap: 10px;
        padding: 22px 77px;
        width: 163px;
        border: none;
        height: 55px;
        color: #fafafa;
        font-size: 16px;
        cursor: pointer;
        letter-spacing: 0.02em;
        display:flex;
        align-items:center;
        justify-content: center;
        white-space: nowrap;

    }
    .menu{
        font-weight: 500;
        text-decoration: underline;
        font-size: 16px;
}
}

@media (min-width:1140px) {
    .container{
        width: 1337px;
    }
    .header-navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .page-header {
        background-color: transparent;
        position: absolute;
        padding: 32px;
    }

.logo-navigation {
    width: 100%;
    max-width: 1376px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
    
}
}
