html{
  scroll-behavior: smooth;
}
.page-header {
  background-color: transparent;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 32px;
  position: relative;
}

.logo-navigation {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: space-between;
}

.logo-navigation .logo {
  display: flex;
  align-items: flex-start;
}

.logo-navigation .logo img {
  margin-right: 8px;
}
.button-down{
  position: fixed;
  bottom: 16px;
  right: 16px;
  cursor: pointer;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 60%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 767px) {
  .burger-button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    z-index: 888;
    right: 16px;
    color: #fafafa;
  }

  .menu {
    display: none;
  }
  .button-order {
    display: none;
  }
  .submenu-link {
    display: none;
    transform: translateY(-100%);
    transition: opacity 3000ms ease;
  }
}

@media screen and (min-width: 768px) {
  .navbar-menu {
    text-align: center;
  }
  .submenu-link {
    display: none;
  }
  .submenu-link.is-active {
    display: block;
    background-color: transparent;
    transform: translateY(0);
    text-decoration: underline;
  }
  .header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
  }

  .page-header {
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
  }

  .logo-navigation {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
  }

  .logo-navigation .logo {
    display: flex;
    align-items: flex-start;
  }
  .logo-navigation .logo img {
    margin-right: 8px;
  }
  .burger-button {
    display: none;
  }

  .button-order {
    background-color: #ed3b44;
    border-radius: 60px;
    gap: 10px;
    padding: 22px 77px;
    width: 163px;
    border: none;
    height: 55px;
    color: #fafafa;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  }
  .button-order:hover,
  .button-order:focus {
      background-color: #E0373F;
  }
  .menu {
    font-weight: 500;
    text-decoration: underline;
    font-size: 16px;
    display: block;
  }
.button-down{
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  border: none;
  width: 38px;
  height: 38px;
  border-radius: 60%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

}

@media screen and (min-width: 1440px) {
  .header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
  }

  .page-header {
    background-color: transparent;
    position: absolute;
  }

  .logo-navigation {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
  }
}
