/*
@media(min-width: 320px){
.hero {
        background: url(../img/img_mobile/hero_mobile-min.jpg);
        background: url(../img/img_mobile/gradient_mobile.jpeg);
        background-size: cover;
        background-position: center;
    }

    .main-content {
        padding-left: 16px;
        padding-right: 16px;
        font-size: 50px;
        line-height: 50px;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .social-media-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 17px;
        padding-bottom: 32px;
    }
    .social-links {
        display: flex;
        gap: 4px;
        font-size: 16px;
        margin-right: 8px;
    }
}
*/


@media(min-width:765px){
    .container{
        min-width: 768px;
    }

.hero {
        background: url(../img/img_tablet/Hero.png);
        background-size: cover;
        background-position: center;
    }
}
 @media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
     .hero {
         background-image: 
             url(../img/img_tablet/Hero-2.png);
     }
 }
   
    .main-content {
        font-size: 90px;
        letter-spacing: 0.03em;
        line-height: 90px;
        text-transform: capitalize;
        padding-top: 300px;
        padding-bottom: 243px;
    }


    .social-media-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 32px;
    }


.social-links {
        display: flex;
        gap: 8px;
        font-size: 16px;
        margin-right: 8px;
    }

    .social-media-list a {
            display: block;
            text-decoration: none;
            padding: 18px 16px;
            border-radius: 60px;
            width: 55px;
            height: 55px;
            border: 1px solid rgba(255, 255, 255, 0.1);
            text-align: center;
            line-height: 19px;
        }

    .email-link {
            text-decoration: none;
            border: 1px solid rgba(255, 255, 255, 0.1);
            width: 223px;
            height: 55px;
            border-radius: 60px;
            padding: 18px 24px;
            line-height: 19px;
    }

    @media (min-width: 1440px) {
        
        .main-content {      
            display: flex;
            flex-direction: column;
            align-items: center;
            letter-spacing: 0.03em;
            width: 1058;
            
        }
    .hero {
            background: url(../img/img_tablet/Hero.png);
            background-size: cover;
            background-position: center;
        }
    
     @media (min-device-pixel-ratio: 2),
     (min-resolution: 192dpi),
     (min-resolution: 2dppx) {
         .hero {
             background-image: 
                 url(../img/img_tablet/Hero-2.png);
         }
     }
     
    }
    
    
    
    
    
       
    












