.hero {
        background-image: url(../img/img_mobile/hero_mobile-min.jpg);
        background-size: cover;
        background-position: center;
    }

    @media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: url(../img/img_mobile/hero_mobile_x2-min.jpg);
    }
}
   .main-content {
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 0.03em;
    padding: 281px 0px;
    text-transform: uppercase;
    }
    
    .social-media-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
    .social-links {
        display: flex;
        gap: 4px;
        font-size: 16px;
        margin-right: 8px;
    }
    
    .social-media-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 32px; 
    }
    
    .social-links {
        display: flex;
        gap: 4px;
        font-size: 14px;
        margin-right: 4px;
        }
        
        .social-media-list a {
            display: block;
            text-decoration: none;
            padding: 10px 8px;
            border-radius: 60px;
            width: 37px;
            height: 37px;
            border: 1px solid rgba(255, 255, 255, 0.1);
            text-align: center;
            line-height: 17px;
        }
        
        .email-link {
            text-decoration: none;
            border: 1px solid rgba(255, 255, 255, 0.1);
            width: 178px;
            height: 37px;
            border-radius: 60px;
            padding: 10px 12px;
            line-height: 17px;
            font-size: 14px;
    }
   
@media screen and (min-width:768px){
    .hero {
        background-image: url(../img/img_tablet/hero_tablet.jpg);
        background-size: cover;
        background-position: center;
    }
}
 
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: 
            url(../img/img_tablet/hero_tablet_x2.jpg);
    }
}

@media screen and (min-width: 768px){
    .main-content {
        padding: 300px 104px 274px 0px;
    }
        .social-media-container {
            display: flex;
            align-items: center;
            justify-content: flex-end;   
        }
    .social-links {
        display: flex;
            gap: 8px;
            font-size: 16px;
            margin-right: 8px;
        }
    
        .social-media-list a {
            display: block;
            text-decoration: none;
            padding: 18px 16px;
            border-radius: 60px;
            width: 55px;
            height: 55px;
            border: 1px solid rgba(255, 255, 255, 0.1);
            text-align: center;
            line-height: 19px;
            }
        }
    
        .email-link {
                text-decoration: none;
                border: 1px solid rgba(255, 255, 255, 0.1);
                width: 223px;
                height: 55px;
                border-radius: 60px;
                padding: 18px 24px;
                line-height: 19px;
        }

   
    @media screen and (min-width: 1440px) {
        
        .main-content {      
            padding: 300px 114px 330px;
 }
    
 .hero {
    background: url(../img/img_desctop/Hero.png);
    background-size: cover;
    background-position: center;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: 
            url(../img/img_desctop/Hero-2.png);
    }
}
    }
    












