@media screen and (max-width: 767px) {
  body.modal-open {
    overflow: hidden;
  }
  .menu-item {
    display: none;
  }

  .mobile-menu-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background: repeating-linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(59, 59, 59, 0.2) 2%,
        rgba(255, 255, 255, 0) 10%
      ),
      linear-gradient(to right, #ed3b44 0%, #69292d 32%, #1c1d20 50%);
    display: none;

    overflow: hidden;
  }
  .mobile-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 16px;
    height: 100%;
    padding: 32px 18px 64px;
  }
  .mobile-menu-wrapper.is-open {
    display: block;
  }

  .mobile-menu-close-btn {
    border: none;
    padding: 0;
    line-height: 0;
    fill: #2f2f37;
    background-color: transparent;
    align-self: flex-end;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
  }

  .mobile-menu-item {
    line-height: 1.21rem;
  }
  .mobile-menu-link {
    text-decoration: underline;
  }

  .header-link-mobile {
    border-radius: 60px;
    width: max-content;
    align-self: center;
    padding: 14px 32px;
    background: var(--red-color);
  }

  .header-link-mobile:hover,
  .header-link-mobile:focus {
    background-color: var(--accent-color);
  }
}

@media screen and (max-width: 768px) {
  .mobile-menu-wrapper {
    display: none;
  }
}
