/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./common.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./benefits.css');
@import url('./projects.css');
@import url('./faq.css');
@import url('./covers.css');
@import url('./reviews.css');
@import url('./footer.css');

@import url('./base-styles.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(250, 250, 250, 0.6);
  background-color: #1c1d20;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-color: #000000;

  --hard-black-color: #1c1d20;
  --medium-black-color: #242527;
  --light-black-color: #3b3b3b;
  --red-color: #ed3b44;
  --white-color: #fafafa;

  --animation-hover: 250ms ease-in;
}
